<!DOCTYPE html>
<head>
    <title>Random Joke</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="container">
        <h1>Get a Random Joke!</h1>

        <!-- form to fetch a joke -->
         <form action="/" method="POST">
            <label for="numJokes">Select number of jokes:</label>
            <select name="numJokes" id="numJokes">

                <% for (let i = 1; i <= 10; i++) { %>
                    <option value="<%= i %>"><%= i %></option>
                <% } %>
            </select>
            <button type="submit">Get Jokes</button>
        </form>

        <!-- display the joke -->
         <% if (jokes && jokes.length) { %>
            <% jokes.forEach(joke => { %>
                <div class="joke">
                    <h2><%= joke.setup %></h2>
                    <p><%= joke.punchline %></p>
                </div>
            <% }) %>
        <% } %>
    </div>
</body>
</html>